@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Story line</h1>
    <p class="lead">here insert line.</p>   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Spotkania</h2>
        <p>
            Welcome
        </p>
    </div>
</div>